{% extends "base.html" %}


{% block content %}


          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Listado URLS</h1>
          </div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <a href="{% url 'myurl-add' %}" class="badge badge-primary"><span data-feather="plus-circle"></span> Crear</a>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Texto</th>
                  <th>Fecha</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              {% for listado in object_list %}
              <tr>
                  <td> {{ listado.id }}</td>
                  <td>{{ listado.name }}</td>
                  <td><a href="{{ listado.text }}"> {{ listado.text }}</a></td>
                  <td>{{ listado.created }}</td>
                  <td>
                      <a class="badge badge-primary" href="{{ listado.text }}"><span data-feather="eye"></span> Ver</a>
                      <a class="badge badge-primary" href="{% url 'myurl-update' listado.id %}"><span data-feather="edit"></span> Editar</a>
                      <a class="badge badge-primary" href="{% url 'myurl-delete' listado.id %}"><span data-feather="delete"></span> Borrar</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}

